h1 {
    color: #4682b4;
    text-align: center;
    margin-top: 50px;
    background-color: antiquewhite;
    padding: 3rem;
}

p {
    font-size: 16px;
    color: #333333;
    text-align: center;
    background-color: antiquewhite;
    padding: 1rem;
    margin: 1rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0rem;
    text-align: center;
    align-items: center;
}

nav {
    color: #4682b4;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    position: fixed;
    top: 1rem;
    width: 100%;
}

a {
    color: #4682b4;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;

}

ul  {
    
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

footer {
    background-color: #4682b4;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}